body
  margin: 0px
  padding: 0px

#ribbon
  border: 0px
  min-width: 1280px

.ui-tabs .ui-tabs-nav li.ribbon-title
  padding-top: 9px
  margin-right: 5px

.dimension-button


.sketch-add-entities-section
  width: 500px

span.cmd
  float: left
  width: 150px
  padding-left: 7px
  padding-right: 3px
  padding-bottom: 7px
  font:
    size: 16px
    weight: 300

  &:hover
    color: #3366FF
    cursor: pointer

  &.active
    background: #DDD

  &.disabled
    color: #999

.sketch-modify-entities-section
  width: 380px

.sketch-options-section
  width: 160px

.sketch-sketch-options-section
  width: 200px


