$inactive_color: #309
$active_color: #37D

.implicit-point, .explicit-point
  cursor: pointer
  stroke: $inactive_color
  fill: $inactive_color
  &:hover, &.selected
    stroke: $active_color
    fill: $active_color

.line, .arc, .circle, .ellipse
  cursor: pointer
  stroke: $inactive_color
  &:hover, &.selected
    stroke: $active_color

.selected .explicit-point
  stroke: $active_color
  fill: $active_color

.creation-guide
  stroke-dasharray: 4, 4


// Points
// =============================

// implicit points
circle.implicit-point
  stroke: none
  stroke-width: 0


// explicit points
tspan.explicit-point
  font:
    size: 29px
    weight: bold
    stroke: 3px
    text-anchor: middle


// Lines
// =============================

path.line, .arc, .circle, .ellipse
  stroke-width: 2px


// Dimensions
// =============================

text.dimension-text
  cursor: pointer
  tspan
    font:
      size: 18px
      stroke-width: 3px
      text-anchor: middle
  &.selected tspan
    //stroke: $active_color

.dimension
  cursor: pointer
  stroke: #ccc
  stroke-width: 2px
  &:hover, &.selected, &.hover
    stroke: $active_color

